@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #fbfbfb;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.page-controls {
  max-width: 300px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  .pagination {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    .previous,
    .next {
      height: 24px;
      width: 24px;
      background-color: #213f7d1a;
      color: #213f7d;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li,
    .disabled {
      color: #545f7d5a;
      cursor: pointer;
    }
    .active {
      color: #213f7d;
    }
  }
}

@media (max-width: 600px) {
  .page-controls {
    justify-content: flex-start;
  }
}
