.side__container {
  z-index: 5;
  width: 283px;
  background-color: #fff;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.04);
  transform: translateX(0);
  transition: all 0.4s ease-out;
  .inner__container {
    // height: 100vh;
    // max-height: 100vh;
    min-height: 100vh;
    padding-top: 130px;
    padding-bottom: 30px;
    // overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }

  img {
    width: 16px;
    height: auto;
    object-fit: contain;
  }
  h6,
  a {
    color: #213f7d;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
  }
  .header__logo__wrapper {
    display: none;
  }
  .dashboard__organization__content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px 3rem;
  }
  .dashboard__heading {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
  }
  .dashboard__section__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 2rem;
    h5 {
      text-transform: uppercase;
      padding: 0 20px;
      color: #545f7d;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
    }
    .dashboard__section {
      display: flex;
      flex-direction: column;
      .dashboard__link__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.8rem 20px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        &:hover {
          background: rgba(57, 205, 204, 0.1);
        }
      }
      .active {
        background-color: rgba(57, 205, 204, 0.1);
        border-left: 3px solid rgba(57, 205, 204);
      }
    }
  }
}

@media (max-width: 760px) {
  .side__container {
    transform: translateX(-283px);
    transition: all 0.4s ease-out;
    padding-top: 0;
    padding-bottom: 30px;
    position: fixed;
    z-index: 10;

    .inner__container {
      height: 100vh;
      max-height: 100vh;
      min-height: 100vh;
      padding-top: 0;
      overflow-y: auto;
    }
    .header__logo__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 20px 20px 40px;

      img {
        width: 144px;
        height: auto;
        object-fit: contain;
      }
      svg {
        display: block;
        width: 2rem;
        height: 2rem;
        color: #213f7d;
      }
    }
  }

  .activateMenu {
    transform: translateX(0);
    position: fixed;
  }
}

@media (max-width: 550px) {
  .side__container {
    .header__logo__wrapper {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
